body{
    background-color: #fff;
    background-image:
            linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
            linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

img {
    height: 593px;
    width: 610px;
    float: right;
}

body html {
    margin: 0;
    padding: 0;
}


.titleTop {
    padding-top: 30px;
    padding-left: 70px;
    letter-spacing: 40px;
    font-size: 60px;
    font-weight: bold;
    font-style: oblique;
    color: #a3a0b1;
}

.infoStyle {
    float: right;
    /*padding-left:65px;*/
    /*padding-top: 15px;*/
    /*padding-right: 60px;*/

    /*background: white;*/
    /*background-image: linear-gradient(90deg, rgba(200, 0, 0, .5) 50%, transparent 0), linear-gradient(rgba(200, 0, 0, .5) 50%, transparent 0);*/
    /*background-size: 30px 30px;*/

}
.compName{
    font-size: 35px;
    color: #3b5877;
    font-family: Bahnschrift;
}
.type{
    font-size: 20px;
    color: rgba(126, 126, 145, 0.71);
    margin-top: 50px;
    letter-spacing: 7px;
    font-family: FangSong;
    text-decoration: overline;

}
.proinfo{
    font-weight: lighter;
    float: left;
    padding-left: 20px;
    text-indent: 2em;
    padding-top: 50px;
    font-size: 30px;
    font-style: italic;
    color: rgba(90, 99, 105, 0.75);
    letter-spacing: 3px;
}

/*导航栏*/
.menu{
    position: relative;
    float: top;
    margin: 0 50px 0 auto;
}
.menu li {
    float: right;
    /*width: 80px;*/
    list-style: none;
    padding: 0 20px;
    text-align: center;
    height: 60px;
    line-height: 60px;;
    border: 0px solid #76a2c6;
}
.menu li a {
    text-decoration: none;
    color: #CCC;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
}
.menu a:hover, .menu li:hover a {
    color: rgba(102, 144, 177, 0.65);
    font-size: 25px;
}


